<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Relay</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Relay</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button (click)="scan()">Click to Scan</ion-button>
    <p>{{ statusMessage }}</p>
    <ion-content>
      <ion-list> 
        <ion-item click="" device="" deviceselected="" ngfor="let device of devices">
          <ion-label>
            <!--<h2>{{ device.name || 'Unnamed' }}</h2>
              {{ device.id }}
              RSSI: {{ device.rssi }}-->
              device
          </ion-label> 
        </ion-item>
       </ion-list> 
    </ion-content>
  </div>
</ion-content>
